@model WebDaifugo.AppClasses.DaifugoPlayRoom
@{
    ViewBag.Title = "プレイルーム [" + ViewBag.RoomID + "]";
}
@section Meta {
	<meta http-equiv="refresh" content="180">
}
<div class="container">

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

		@if (Model==null || Model.NumOfRounds==0) {
			<h3>入出できます</h3>
			<div>現在の入室人数：@(Model==null ? 0 : Model.Master.NumOfPlayers) 人</div>
			<input type="text" id="name" maxlength="16" placeholder="名前" />
			<a class="btn btn-primary" id="btn_entry">入室する</a>
		} 

		@if (Model !=null) {
		<h3>ラウンド数</h3>
		<div>
			@Model.NumOfRounds 回目
        </div>              

		<h3>成績表</h3>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>プレイヤー名</th>
					<th>総合得点</th>
					<th>直前ラウンドの得点</th>
					<th>大富豪</th>
					<th>富豪</th>
					<th>平民</th>
					<th>貧民</th>
					<th>大貧民</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var item in Model.Standings) {
				<tr>
					<td>@item.PlayerName</td>
					<td class="text-right">@item.TotalPoint</td>
					<td class="text-right">@item.RoundPoint</td>
					<td class="text-right">@item.NumTimesDaifugo</td>
					<td class="text-right">@item.NumTimesFugo</td>
					<td class="text-right">@item.NumTimesHeimin</td>
					<td class="text-right">@item.NumTimesHinmin</td>
					<td class="text-right">@item.NumTimesDaihinmin</td>
				</tr>
				}
				</tbody>
			</table>
			@if (Model!=null && Model.NumOfRounds > 0) {
				<a class="btn btn-success" id="btn_watch">観戦する</a>
			}
		</div>
		}
    </div>
</div>
</div>


@section Scripts{
<script type="text/javascript">
	$(function () {
		if (!WebSocket) {
			$('#ng').fadeIn();
			alert('NG');
		} else {
			$('#ok').fadeIn();
		}

		function entryNewWindow(rule, roomid, name) {
			window.open('/entry/' + rule + '/' + roomid + '?name=' + name, '_blank', 'width=800,height=440,scrollbars=auto,resizable=yes');
		}

		function watchNewWindow(roomid) {
			window.open('/watch/' + roomid, '_blank', 'width=800,height=440,scrollbars=auto,resizable=yes');
		}

		$('#btn_entry').click(function () {
			var name = $('#name').val();
			if (!name) {
				alert('名前を入力してください。');
				return;
			}
			$(this).fadeOut();
			entryNewWindow('@ViewBag.Rule', '@ViewBag.RoomID', name);
			setTimeout(function () { location.reload(); }, 5000);
		});
		$('#btn_watch').click(function () {
			watchNewWindow('@ViewBag.RoomID');
		});
	});

</script>
}